p {
	color: green;
}

strong {
	font-size: 26px;
	color:brown;
}

em{
	font-size: 18px;
	font-style: arial;
	color: lightblue;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

li a{
	display: block;
	width: 60px;
}