p {
	color: green;
}

strong {
	font-size: 22px;
	color:darkbrown;
}

h2{
  clear: left;
  display: block;
}

em{
	font-size: 21px;
	font-style: arial;
	color: lightblue;
}

nav ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   width: 100%;
 }
 
 nav ul li {
   float: left;
 }
 
 nav ul li a {
   display: block;
   padding: 14px 17px;
   text-decoration: none;
   background-color: #666
 }
 
 nav ul li a:hover {
   background-color: black;
   color: purple;
 }