p {
  color: #466;
  font-style: oblique;
  font-size: 17px
}

div {
  background-color: lightgrey;
  width: 300px;
  padding: 20px;
  border: 25px solid navy;
  margin: 25px;
}

strong {
  font-size: 19px;
  color: #991;
  font-style: arial;
}

h1 {
  margin: 65px;
  font-style: oblique;
  color: #003;
  border-style: double;
  border-right-color: #377;
  border-left-color: #377;
  border-top-color: #219;
  border-bottom-color: #219;
  text-align: center;
  color:#005;
}

h2 {
  clear: left;
  display: block;
  color:#005;
  
}

h3 {
  font-style: oblique;
  font-size: 20px;
  color: #004
}

h4 {
  font-size: 25px;
  font-style: italic;
  border-style: inset;
  text-align: center;
  border-color: green;
}
h5{
	font-size: 17px;
    font-style: oblique;
	font-weight: bold;
	color:#005;
}

em {
  font-size: 21px;
  font-style: arial;
  color: #842;
  font-weight: bold;
}

ol {
  list-style-type: lower-alpha;
  background: #012;
  padding: 30px;
  margin: 10px;
  font-weight: bold;
  overflow: hidden;
}

ol li {
  font-style: italic;
  font-size: 18px;
  color: white
}

nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  background-color: #666;
}

nav ul li {
  float: left;
  font-size: 20px;
  font-style: italic;
  font-weight: bold
}

nav ul li a {
  display: block;
  padding: 14px 17px;
  text-decoration: none;
  background-color: #666;
}

nav ul li a:hover {
  background-color: black;
  color: purple;
}

.centerMe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}